// Specific CSS for your home-page

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  border-top: lightgray;
  font-size: smaller;
  height: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
}

.card-container {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 50px;
}

.card {
  box-shadow: 2px 2px 5px lightgray;
  height: 400px;
  width: 300px;
  text-align: center;
  font-size: smaller;
  border-radius: 5px;
}

.card img{
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 5%;
}
