<div class="bookings-page">
  <div class="table-w-heading">
      <div class="title">
        <h2><%=current_user.first_name%>'s Upcoming Trips </h2>
      </div>
  <table class="table table-striped" style="overflow-y: scroll; height: 62vh;">

   <thead>
      <tr>
        <th scope="col">Planet</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
      </tr>
    </thead>
      <tbody>
        <% @bookings.each do |book| %>
          <tr>
            <th scope="row"></th>
            <td><%= book.planet.name %></td>
            <td><%= book.start_date.strftime('%m/%d/%Y') %></td>
            <td><%= book.end_date.strftime('%m/%d/%Y') %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  </div>
</div>
