<div class="card-container">
  <h2> What we do </h2>
  <p>HeavenlyBodies, Inc. is an English company that operates an online marketplace for lodging, primarily planets for vacation rentals, and tourism activities.</p>
</div>

<div class="card-container">
  <h2>Most Popular</h2>
  <div class="cards">

    <div class="card">
        <%= image_tag "https://res.cloudinary.com/do31e5zv5/image/upload/v1661866647/az3y4t264gk34bbytpni.jpg" %>
        <h4><b>Earth</b></h4>
        <p>It has a solid and active surface with mountains, valleys, canyons, plains and so much more</p>
    </div>

    <div class="card">
        <%= image_tag "https://res.cloudinary.com/do31e5zv5/image/upload/v1661867998/zkthm6cbtvzaianuwup7.jpg" %>
        <h4><b>Saturn</b></h4>
        <p>It is circled by hundreds of rings consisting of small, ice-covered particles and is also host to at least 30 moons</p>
    </div>

    <div class="card">
        <%= image_tag "https://res.cloudinary.com/do31e5zv5/image/upload/v1661868167/b4ffalqu559lb66n2itb.jpg" %>
        <h4><b>Jupiter</b></h4>
        <p>Jupiter is covered in swirling cloud stripes. It has big storms like the Great Red Spot, which has been going for hundreds of years</p>
    </div>

  </div>
</div>

<div class="card-container">
  <h2>About Us</h2>
  <p>Le Wagon Demo Project</p>
</div>
