<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://c.tenor.com/cRThsNKTMboAAAAd/nebulae-astronomy.gif");">
  <div class="container">
    <h1>Discover the <strong>Galayx </strong> as <strong>never before</strong>!</h1>
    <p>Have a great and fun weekend with friends and family and meet Aliens and Predator over the galaxy.</p>
  </div>
</div>


<div class="card-container">

  <p>Visit the galaxy with us <i class="fa-solid fa-shuttle-space"></i></p>

  <div class="card-product">
    <p class="odometer" id="odometer"><span style="vertical-align: middle">0</span></p>
    <div class="card-product-infos">
      <h2><b> Number of Planet to discover !</b></h2>
      <p>Do you know our galaxy count billions of planets... Which one do you want to visit first ?</p>
    </div>
  </div>

  <br>

  <div class="card-product">
    <div class="card-product-infos">
      <h2>What to pack when going to sunny climates?</h2>
      <p>Travel to the Sun mean sunshine but with that comes danger – painful burning and an increased risk of skin cancer. So top of your list of things to take on holiday should be sun protection, which means sun cream and lip balm of a minimum SPF 3000.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1614642264762-d0a3b8bf3700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80">
  </div>

  <br>

  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1564053051381-5cb91813736b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80">
    <div class="card-product-infos">
      <h2><b>Tips for the best trip</b></h2>
      <p>Travel can be an exciting, eye-opening experience. It’s easy to get caught up in the thrill of adventure. But don’t forget about travel security and safety considerations while you’re abroad.</p>
    </div>
  </div>

  <br>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><b>Rent a car</b></h2>
      <p>Thanks to our powerful partner, you can rent the best car adapted to your trip? Snow Tyres can be sometimes very important so give us your trust and you will not regret !</p>
    </div>
    <img src="https://images.unsplash.com/photo-1614315517650-3771cf72d18a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80">
  </div>
  <br>
</div>
