<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://c.tenor.com/cRThsNKTMboAAAAd/nebulae-astronomy.gif");">
  <div class="container">
    <h1>Discover the <strong>Galaxy </strong> as <strong>never before</strong>!</h1>
    <p>Have a fun weekend meeting Aliens with friends and family.</p>
  </div>
</div>


<div class="card-container">

  <p><i class="fa-solid fa-shuttle-space"></i> Visit the galaxy with us <i class="fa-solid fa-shuttle-space"></i></p>

  <div class="card-product">
    <p class="odometer" id="odometer"><span style="vertical-align: middle">0</span></p>
    <div class="card-product-infos">
      <h2><b> Many Planets to Discover</b></h2>
      <p>Did you know our galaxy has billions of planets... Which one will you visit first ?</p>
    </div>
  </div>

  <br>

  <div class="card-product">
    <div class="card-product-infos">
      <h2>Packing for Sunny Climates</h2>
      <p>Travelling to the Sun will mean beautiful sunshine but with that comes the danger of burning alive. So the #1 thing you will need to bring is sun protection with a minimum SPF of 3000.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1614642264762-d0a3b8bf3700?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80">
  </div>
  <br>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1564053051381-5cb91813736b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1510&q=80">
    <div class="card-product-infos">
      <h2><b>Tips for the Best Trip</b></h2>
      <p>Travelling into space can be an exciting experience but don’t forget about travel safety - do NOT pet the aliens.</p>
    </div>
  </div>

  <br>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><b>Rent a Vehicle</b></h2>
      <p>Thanks to our powerful partner, you can rent the best vehicle for the terrain of your planet destination. A variety of tyres can be important - trust us !</p>
    </div>
    <img src="https://images.unsplash.com/photo-1614315517650-3771cf72d18a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80">
  </div>
  <br>
</div>
