<body>
  <div class="dashboard-container">
    <div class="dashboard">
    <div class="spline"><iframe src='https://my.spline.design/spaceship-f88e3fd9db210df845004a1657196a54/' frameborder='0' width='500px' height='600px'></iframe></div>
      <div id="desc-card">
        <div class="system-flex-container">
          <% @planets.each do |planet| %>
            <div class="planet">
              <%=link_to planet_path(planet) do %>
              <%= cl_image_tag planet.photo.key, width:150, height:150, class:"planet-pic"%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
