<body>
  <div class="dashboard-container">
    <div class="dashboard">
    <div class="spline"><iframe src='https://my.spline.design/untitled-5da84f9e124dcec5b0a69ef35b0b70d5/' frameborder='0' width='100%' height='700px'></iframe></div>
      <div id="desc-card">
        <div class="system-flex-container">
          <% @planets.each do |planet| %>
            <div class="planet">
              <%=link_to planet_path(planet) do %>
              <%= cl_image_tag planet.photo.key, width:150, height:150, class:"planet-pic"%>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
