<div class="bookings-page">
  <div class="table-w-heading">
<table class="table table-striped" style="width: 100%;height: 100%;border; overflow-y:scroll">
    <thead>
      <tr>

        <th scope="col">Celestial Body</th>
        <th scope="col">Death Star Action</th>
      </tr>
    </thead>
    <tbody>
      <% @owned_planets.each do |planet| %>
      <tr>

        <td><%= planet[:name] %></a></td>
        <td>

          <%= link_to "Delete", "planets/#{planet[:id]}", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
